:root
{
    --color: mediumseagreen;
}

.hidden
{
    visibility:hidden;
}

img
{
    margin-top:5%;
}

body
{
    position: relative;
    height:100vh;
}

#default
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
.text-primary
{
    color:var(--color);
}

a
{
    color:var(--color);
}

.btn
{
    background-color: var(--color);
    border-color: black;
    color: white;
}
