body{
	font-family: 'Helvetica Neue', serif;
	margin:0;
	background-color:rgb(255,254,235);
	overflow: hidden;
}

#top, #bottom{
	position: absolute;
	height:50vh;
	width:100%;
	background-color:lightblue;
}

#border{
	position:absolute;
	left:50%;
	top:100%;
	transform:translate(-50%,-50%);
	border-radius:50%;
	padding:10%;
	background-color:black;
	z-index:2;
}

#headshot{
	position:absolute;
	height:90%;
	border-radius:50%;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	z-index:3;
}

.border-line{
	position:absolute;
	width:100%;
	background-color:black;
	top:100%;
	transform:translateY(-100%);
}

#bottom{
	top:50%;
	z-index:-1;
}

#border-line-bottom{
	top:0%;
	transform:translateY(0%);
	height:5%;
	z-index:-1;
}

#border-line-top{
	top:100%;
	transform:translateY(-50%);
	height:10%;
}

.section{
	position:absolute;
	top:30%;
	height:50%;
	width:70%;
	left:15%;
	overflow-y:scroll;
}

#navbar{
	position:absolute;
	top:100%;
	transform:translateY(-50%);
	width:100%;
	height:10%;
	background-color:black;
}

#navbar button{
	border-radius:0px;
	background-color:black;
	width:10%;
	height:100%;
	color:lightblue;
	text-align:center;
	border:none;
}

#b0{
	position:absolute;
	left:2%;
}
#b1{
	position:absolute;
	left:15%;
}
#b2{
	position:absolute;
	left:28%;
}
#b3{
	position:absolute;
	right:28%;
}
#b4{
	position:absolute;
	right:15%;
}
#b5{
	position:absolute;
	right:2%;
}

#about{
	position:absolute;
	text-align:center;
	top:55%;
	width:70%;
	left:15%;
	overflow-y:scroll;
	transform:translateY(-50%);
}

.experience-item ul{
	margin-top:0;
}

#projects{
	overflow-x:hidden;
	top:19%;
	height:72%;
	left:0%;
	width:100%;
	z-index:-1;
}

.project{
	height:100%;
	width:100%;
	position:absolute;
}

#bds{
	visibility:hidden;
	background:url("images/bds.jpg");
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}
#pkmn{
	visibility:hidden;
	background:url("images/pkmn.jpg");
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}
#humv{
	visibility:hidden;
	background:url("images/checkin.jpg");
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}
#whack{
	visibility:hidden;
	background:url("images/froodies.jpg");
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}
#cte{
	visibility:hidden;
	background:url("images/cte.jpg");
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}
#tower{
	visibility:hidden;
	background:url("images/tower.jpg");
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}
#projectnav{
	position:absolute;
	top:50%;
	width:100%;
	z-index:1;
}
#projectnav button{
	border-radius:0px;
	background-color:transparent;
	border:none;
	font-size:200%;
}
#prev-button{
	position:absolute;
	left:5%;
	transform:translate(-50%, -50%);
}
#prev-button span:before{
	content: '\00AB';
}
#next-button{
	position:absolute;
	left:95%;
	transform:translate(-50%, -50%);
}
#next-button span:after{
	content: '\00BB';
	
}
.project-contents{
	position:absolute;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.5);
}
.project-text{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	color:rgb(255,254,235);;
}
a{
	color:inherit;
}


#skills{
	overflow:hidden;
}

.skill{
	position:absolute;
	width:40%;
	height:100%;
	overflow-y:scroll;
}
#skills1{
	left:0%;
}
#skills2{
	position:absolute;
	right:0%;
}

#favorites{
	top:30%;
	height:50%;
	width:80%;
	left:10%;
}