:root
{
    --color: mediumseagreen;
}

.hidden
{
    visibility:hidden;
}

img
{
    margin-top:5%;
}

/*
.text-primary
{
    color:var(--color);
}

a
{
    color:var(--color);
}

.btn
{
    background-color: var(--color);
    border-color: black;
    color: white;
}
